/* bnr_start */
.about_us_bnr .bnr_text_wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}
.about_us_bnr .hero_row_wrapper{
    padding: 20px 0;
}
@media (max-width: 767px){
    .about_us_bnr .bnr_img_wrapper{
        margin-bottom: 20px;
    }
}

/* bnr_end */
/* bottom_bnr_sticky_nav_start */
.bottom_bnr_sticky_nav{
        background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
    overflow: hidden;
    width: 100%;
    position: sticky;
    height: 56px;
    top: 0px;
}
.bottom_bnr_sticky_nav .sticky_nv_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_bnr_sticky_nav .sticky_nv_item{
    display: flex;
    align-items: center;
    scrollbar-width: none;
    overflow-x: auto;
}
.bottom_bnr_sticky_nav .sticky_nv_item li{
        line-height: 1.625rem;
    margin-right: 2rem;
}
.bottom_bnr_sticky_nav .sticky_nv_item li a{
        border-bottom: none;
    color: #000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 300;
    height: 100%;
    line-height: 28px;
    line-height: 1.75rem;
    padding: 1em 0;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    color: inherit !important;
    text-shadow: none !important;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA{
   display: flex;
   align-items: center;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap{
    display: flex;
    align-items: center;
    flex: 1 0 auto;
   padding: 0 16px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap svg{
        fill: #000;
    height: 40px;
    width: 40px;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .sticky_nav_call_wrap span{
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
}
.bottom_bnr_sticky_nav .sticky_nav_CTA .common_btn_green{
    height: auto;
}
/* bottom_bnr_sticky_nav_end */

/* featureSec_start */
.featureSec{
    padding: 30px 0;
}
.news_heading{
        display: block;
    margin: 48px 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}
@media (min-width: 576px) {
    .news_heading {
        font-size: 32px;
        line-height: 36px;
    }
}
.featureSec_inner_wrapper{
    max-width: 735px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.featureSec_imgWrapper {
    max-width: 450px;
    min-width: 300px;
}
.featureSec_contant {
    max-width: 400px;
}
.feature_bold_title{
    font-size: 20px;
    line-height: 24px;
    color: #42484d;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    min-height: 80px;
}
.featureSec_contant .commn_para_16{
    font-weight: 400;
        color: #42484d;
}
.featureSec_contant .commn_para_16 strong{
    font-weight: 700;
}
.featureSec_contant .common_btn_blue_bg{
    max-width: 225px;
    margin-top: 25px;
    height: 47px;
    width: 100%;
    font-weight: 400;
    background-color: rgb(0, 106, 255) !important;
    border: 1px solid rgb(0, 106, 255) !important;
}
/* featureSec_end */

/* pastSec_start */
.pastSec{
    padding: 30px 0;
}
.pastSec .news_heading{
    margin-top: 0px;
}
.pastBox_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
}
@media (min-width: 768px) {
    .pastBox_wrapper {
        width: 570px;
    }
}
@media (min-width: 992px) {
    .pastBox_wrapper {
        width: 855px;
    }
}
@media (min-width: 1200px) {
    .pastBox_wrapper {
        width: 1140px;
    }
}
.pastBox{
    margin: 5px 25px 5px 5px;
    max-width: 255px;
    width: 100%;
}
.pastBox .pastBox_title_wrap{
-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     overflow: hidden;
}
.pastBox .pastBox_title_wrap .card_title_20{
    text-align: left;
    margin: 15px 0;
}
.pastBox_date{
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #42484d;
}
.pastBox .pastBox_title_wrap .commn_para_16{
    font-weight: 400;
}
.pastBox_content .pastBox_link{
    border-bottom: 1px solid rgba(0, 106, 255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(0, 106, 255);
    position: relative;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}
.pastBox_content .pastBox_link:hover{
    border-bottom: 1px solid rgb(0, 106, 255);
    text-shadow: rgb(0, 106, 255) 0px 0px 1px;
}
/* pastSec_end */

/* mediaSec_start */
.mediaSec .media_inner_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaSec .media_inner_wrapper .media_inner_icon{
        padding: 0px 16px;
}
.mediaSec .media_inner_wrapper .media_inner_content{
    padding: 0 16px;
}
.mediaSec .media_inner_wrapper .media_inner_content .media_head{
    display: block;
    margin: 16px 0px 8px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.mediaSec .media_inner_wrapper .media_inner_content a.media_inner_link{
    border-bottom: 1px solid rgba(0, 106, 255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(0, 106, 255);
    position: relative; 
    text-decoration: none;
    transition: 0.15s ease-in-out;
}
.mediaSec .media_inner_wrapper .media_inner_content a.media_inner_link:hover{
        text-shadow: rgb(0, 106, 255) 0px 0px 1px;
    border-bottom: 1px solid rgb(0, 106, 198);
}
@media screen and (max-width:644px) {
    .media_inner_wrapper{
        flex-direction: column;
    }
    .mediaSec .media_inner_wrapper .media_inner_content .media_head{
        text-align: center;
    }
    .media_inner_content{
        text-align: center;
    }
    .mediaSec .media_inner_wrapper .media_inner_content a.media_inner_link{
        text-align: center;
    }
}
/* mediaSec_end */